@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    text-transform: uppercase;
}

body {
    background-color: #354F52;
    color: #CAD2C5;
    font-family: monospace;
}


.jumpshots {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    border: 2px solid white;
    margin: 1rem;
    border-radius: .5rem;
    background-color: #2F3E46
}

h1 {
    font-family: Chivo Mono;
    color: #eaf4eb;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    align-self: center;
}

.debugContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

button {
    font-size: .6rem;
    border: 1px solid white;
    padding: .5rem;
    color: #2F3E46;
    border-radius: .5rem;
    background-color: #eaf4eb;
}

.stateVisualizer {
    background-color: #52796F;
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid #2F3E46;
    line-height: 1.5rem;
}

button:hover {
    cursor: pointer;
}

.snapshotContainer {
    background-color: #CAD2C5;
}

.stateVisualContainer {

}