.newColor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 4rem;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 10px 8px #ffffffb8;
    border-radius: .5rem;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3rem;
}