@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap');
* {
    font-family: Inconsolata;
    color:#dec3c3;
    background-color: #4d648d;
}

.name {
    text-align: center;
    font-size: 5em;
}

.counter {
    text-align: center;
    padding-bottom: 2em;
    border: solid;
    margin-bottom: 1em;
}

.todo {
    border: solid;
    height: 20em;
}

.addCount {
    background-color: #283655;
    padding: 0.4em;
    border-radius: 0.5em;
}

.subCount {
    margin-left: 1em;
    background-color: #283655;
    padding: 0.4em;
    border-radius: 0.5em;
}

.todo {
    text-align: center;
}

.inputBar {
    width: 20%;
    background-color: #d0e1f9;
    color: #fe9c8f;
}

.todoButton {
    margin-left: 1em;
    background-color: #283655;
    border-radius: 0.5em;
}
